

body {
    background-color: black;
}

.play-icon {
    width:50px ;
    position: relative;
}

.layer1 {
    font-size: 10px;
    color: white;
    position: absolute;
    z-index: 5;
    margin-left:42%;
    margin-top: 38%;

}

.layer2 {
    position: relative;
    font-size: 50px;
    position: absolute;
    color: #53e2ab;
    z-index: 7;
    opacity: 0.5;
    clip: rect(0px, 50px, 20px, 0px);
    transform: rotate(180deg);
    scale: 0.8;
    right: 2%;

    

}

.layer3 {
    position: absolute;
    font-size: 35px;
    color: #53e2ab;
    opacity: 0.3;
    z-index: 2;
    display: flex;
   margin-left: 13%;
   margin-top: 13%;

}
.layer4 {
    position: absolute;
    font-size: 30px;
    color: #53e2ab;
    opacity: 0.6;
    z-index: 3;
    margin-left:18%;
    margin-top: 18%;
}


.layer5 {
    position: absolute;
    font-size: 25px;
    color: #53e2ab;
    z-index:4 ;
    margin-left:23%;
    margin-top: 23%;


}